
<DOCTYPE html>

	<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
	<meta charset="utf-8" />
	<title>Congratulations</title>
</head>
<body>

	<h2>Build your post here</h2>
	<form method="post">
		<div>
			<br /><br /><br />
			<label for="title">Blog Title</label>
			<input type="text" name="myTitle" />
		</div>
		<div></div>
		<div>
			<br /><br /><br />
			<label for="Type your post">Blog Title</label>
			<textarea name = "myPost" id = "myPost" rows = "3" cols = "80"></textarea>
		</div>
<!--		<div>	
			<br /><br /><br />	
			<label for="Blog Image">An Image for your Post</label>
			<input type="file" accept="myImage">
		</div>-->
		<div>
			<button type="submit">Submit Post</button>
		</div> 
	</form>
	
</body>
</html>